source https://www.nuget.org/api/v2/
  nuget Kajabity.Tools.Java

group build
  source ../../../dist
    nuget Mason.Targets.Packager
    nuget Mason.Targets.Preprocessor
    nuget Mason.Targets.Verman