# Auto detect text files and perform LF normalization
* text=auto

*.csproj merge=union
*.dbproj merge=union
*.fsproj merge=union
*.nproj  merge=union
*.sln    merge=union
*.vbproj merge=union

*.cs     diff=csharp
*.doc    diff=astextplain
*.DOC    diff=astextplain
*.docx   diff=astextplain
*.DOCX   diff=astextplain
*.dot    diff=astextplain
*.DOT    diff=astextplain
*.pdf    diff=astextplain
*.PDF    diff=astextplain
*.rtf    diff=astextplain
*.RTF    diff=astextplain

# Needed for Mono build shell script
*.bat   -text eol=crlf
*.cs    -text eol=crlf
*.sh    -text eol=lf
