source https://www.nuget.org/api/v2/
  nuget Kajabity.Tools.Java
  nuget Mono.Options

group build
  source ../../../dist
    nuget Mason.Targets.Packager
    nuget Mason.Targets.Preprocessor
    nuget Mason.Targets.Verman
  source https://www.nuget.org/api/v2/
    nuget ILRepack